/* .stepIndicator {
    font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 1.06rem;
    line-height: 1.1;
    background-color: #fff;
    margin-bottom: 2rem;
    width: 100%;
    padding-left: 25%;
    padding-top: 1.5rem;
  } */